{{#if multiple}}
<div class="all-data">
    {{#each array as |val key|}}
    <div class="data-cell">
        <a href='name/{{val.name}}'><span class="data">{{val.name}}<br><span class="data-id">{{val._id}}</span></span></a>
    </div>
    {{/each}}
</div>
{{else}}
<div class="specific-data">
    {{#if innerMultiple}}
        {{#each array as |val key|}}
            <div class="information-top">
                <div class="information-left">
                    <span class="information-text"><span class="information-header">{{{val.name}}}</span></span>
                </div>
                <div class="information-right"
                    <span class="information-text"><span class="information-key">id: </span>{{{val._id}}}</span>
                    <span class="information-text"><span class="information-key">Country: </span>{{{val.country}}}</span>
                    <span class="information-text"><span class="information-key">Satellites: </span>{{{val.satellites}}}</span>
                </div>
            </div>
        {{/each}}
    {{else}}


    {{!-- img --}}
        <div class="information-top">
            <div class="information-left">
                <span class="information-text"><span class="information-header">{{{name.name}}}</span></span>
            </div>
            <div class="information-right"
                <span class="information-text"><span class="information-key">id: </span>{{{name._id}}}</span>
                <span class="information-text"><span class="information-key">Country: </span>{{{name.country}}}</span>
                <span class="information-text"><span class="information-key">Satellites: </span>{{{name.satellites}}}</span>
            </div>
        </div>
</div>
{{/if}}

{{/if}}